#elBoton {
    border: 1px solid #8b2e82; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #398b2e; /*color botón*/
    color: #39ecad; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-size: larger; /*tamaño texto*/
    border-radius: 50px; /*bordes redondos*/
    }
#otroBoton {
    border: 1px solid #050500; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #8c2cd5; /*color botón*/
    color: #dd1313; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-size: larger; /*tamaño texto*/
    border-radius: 50px; /*bordes redondos*/
    }
#tercerBoton {
    border: 1px solid #020200; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #000000; /*color botón*/
    color: #dd1313; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-size: larger; /*tamaño texto*/
    border-radius: 50px; /*bordes redondos*/
    }